.page-header{
    background-color: #f7f7f7;
    padding: 3.2rem 0;
    margin-bottom: 3.2rem;
}
.page-header__title{
    text-align: center;
    font-weight: 300;
    margin:0;
    margin-top: 0.3em; 
}
input[type=text],select {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;  
}
input[type=submit] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
align-self: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }